.header{
    background-color: rgba(29, 29, 29, 0.719);
    height: 80px;
    width: 800px;
    display: grid;
    grid-template-columns: 85px 680px;
    color: white;

}
.logo{
    width: 70px;
    padding-left: 40px;
    padding-top: 8px;
}
.kannada{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(78, 134, 255, 0.753);
    text-align: center;
    padding-top: 15px;
}
.english{
font-size: 15px;
font-family:'Times New Roman', Times, serif;
letter-spacing: 0.8px;
text-align: center;
padding-top: 7px;
}

.main{
    height: 600px;
    width: 800px;
    margin-left: 20px;
    box-shadow: 2px 2px 10px black;
}
.kan{
    font-size: 21px;
    font-family: arial;
    text-align: center;
    line-height: 30px;
    letter-spacing: 0.6px;
    color: rgba(5, 5, 5, 0.808);
}
.eng{
    font-size: 17px;
    font-family: arial;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    color: rgba(20, 20, 20, 0.945);
}

.heading{
    height: 60px;
    width: 750px;
    background-color: rgba(255, 177, 113, 0.801);
    margin:10px 20px
}
.head-container{
    background-color: rgba(121, 250, 121, 0.616);
    height: 70px;
    border-radius: 6px;
    border-width: 0;
    width: 750px;
    margin-left: 20px;
}

.display{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.{
    width: 95%;
    height: 35px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgba(250, 73, 73, 0.911);
    border-radius: 5px;
    border-color: rgba(114, 3, 3, 0.699);
    border-style: solid;
    border-width: 0.1px;
    font-size: 17px;
    text-align: center;
    color: rgba(20, 20, 20, 0.945);
    opacity: 0.9;
}

.cancel:hover,.submit:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
}

.back-button{
    margin-left: 250px;
    width: 300px;
    height: 35px;
    padding: 5px 10px;
    background-color: rgba(250, 73, 73, 0.911);
    border-radius: 5px;
    border-color: rgba(114, 3, 3, 0.699);
    border-style: solid;
    border-width: 0.1px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: rgba(20, 20, 20, 0.945);
    opacity: 0.9;
}

.back-button:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
}
a{
    text-decoration: none;
    color: black;
}
